@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&display=swap');


.App {
  text-align: center;
}

.name{
  font-family: 'Courgette', cursive;
}

body{
  height: 100%;
  
}

.movie-list{
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  /* flex-direction:column; */
  /* justify-content: center; */
  font-family: 'Courgette', cursive;
  gap:24px;
  padding: 24px;;

}
.movie-container{
  width: 340px;
  /* background-color:teal; */
  
}

.movie-specifications{
  display:flex;

  align-items: center;
  justify-content: space-evenly;
}
.movie-name{
  font-family: 'Courgette', cursive;
  font-size:1.8rem;
  font-weight:bold;
}

.movie-rating{
  font-size: 1.6rem;
  font-family: 'Courgette', cursive;
  font-weight: bold;
}

.movie-pic{
  height: 400px;
  width:  250px;
  object-fit: cover;
  background-color:wheat;
}

.movie-summary{
  font-family: 'Lobster', cursive;
  
}
.like-dislike{
  font-size: 24px !important;
}
.counter-content{
  display: flex !important;
  gap: 12px;
}


