@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&display=swap');


.App {
  text-align: center;
}

.name{
  font-family: 'Courgette', cursive;
}

body{
  font-family: 'Courgette', cursive;
  /* align-items: center;
  justify-content: center; */
  margin:25px;
}

.movie-list{
  display: flex;
  
  flex-wrap: wrap;
  /* flex-direction:column; */
  
  gap:24px;
  padding: 70px;;

}
.movie-container{
  width: 340px;
  /* background-color:teal; */
  
}

.movie-specifications{
  display:flex;

  align-items: auto;
  justify-content: space-between;
}
.movie-name{
  
  font-size:1.4rem;
  font-weight:bold;
  margin:0;
}

.movie-rating{
  font-size: 1.2rem;
  
  font-weight: bold;
}

.movie-pic{
  height: 500px;
  width:  350px;
  object-fit: cover;
  background-color:wheat;
}

.movie-summary{
  font-family: 'Lobster', cursive;

  
}
.like-dislike{
  font-size: 24px !important;
}
.counter-content{
  display: flex !important;
  gap: 12px;
}

.show-button{
  /* margin:0px; */
  font-size: 25px;
  font-family: 'Courgette', cursive;
}

.add-movie-form{
  display: flex;
  flex-direction: column !important;
  gap:10px;
}